{% extends "base.html" %}
{% load static %}
{% block title %}سبد خرید{% endblock title %}
{% block 'content' %}
  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/category.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>سبد خرید</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <form method="post" action="{% url 'root:update_cart' %}">
            {% csrf_token %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">محصول</th>
                  <th scope="col">قیمت</th>
                  <th scope="col">تعداد</th>
                  <th scope="col">جمع</th>
                  <th scope="col">عملیات</th> <!-- ستون جدید برای دکمه لغو کالا -->
                </tr>
              </thead>
              <tbody>
                {% for item in cart_items %}
                  <tr>
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" />
                        </div>
                        <div class="media-body">
                          <p>{{ item.product.name }}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5>${{ item.product.price }}</h5>
                    </td>
                    <td>
                      <div class="product_count">
                        <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                        <input class="input-number" type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="1" max="10">
                        <span class="input-number-increment"> <i class="ti-plus"></i></span>
                      </div>
                    </td>
                    <td>
                      <h5>${{ item.total_price|floatformat:2 }}</h5>
                    </td>
                    <td>
                      <!-- دکمه لغو کالا -->
                      <a href="{% url 'root:remove_from_cart' item.id %}" class="btn btn-danger btn-sm">لغو کالا</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
              <tr class="bottom_button">
                <td>
                  <button type="submit" class="btn_1">به‌روزرسانی سبد خرید</button>
                </td>
                <td></td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>جمع کل</h5>
                </td>
                <td>
                  <h5>${{ total_price|floatformat:2 }}</h5>
                </td>
              </tr>
            </table>
          </form>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="{% url 'root:product_list' %}">ادامه خرید</a>
            <a class="btn_1 checkout_btn_1" href="{% url 'root:checkout' %}">پرداخت</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Cart Area =================-->
{% endblock 'content' %}